{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div style="display: flex">
        <div class="container-img">

            {% for picture in pictures %}
                <div>
                    <div class="square-container">
                        <a href="{{ path('app_picture_show_full', {'id': picture.id}) }}">
                            <img src="{{ picture.url }}" alt="{{ picture.description }}">
                        </a>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}