{% extends 'base.html.twig' %}

{% block title %}AUREN{% endblock %}

{% block body %}
    <div class="home-page-container">
        <div class="photo-head">
            <div>
                <button onclick="window.location.href='{{ path('app_order_new') }}'" class="order-button">
                    COMMANDEZ
                </button>
            </div>
        </div>
            <div class="home-box">
                <div class="photo-box">
                    <div class="title-box">
                        <p> QUI SUIS-JE </p>
                    </div>
                    <div class="text-box">
                        <p>
                            Auren Artiste de 25 ans, passioné d’histoire de
                            l’Art et de l’univer manga. Son univer se base
                            autour de son amour pour les différents mythes
                        </p>
                    </div>
                </div>

                <div class="title-up-box">
                    <h2>ILLUSTRATION DIGITALE</h2>
                </div>

                <div class="photo-box-digital">
                    <div class="title-box">
                        <p> </p>
                    </div>
                    <div class="text-box">
                        <p>
                            Découvrir mes oeuvres digital
                        </p>
                    </div>
                </div>

                <div class="title-up-box">
                    <h2>ILLUSTRATION TRADI</h2>
                </div>

                <div class="photo-box-tradi">
                    <div class="title-box">
                        <p> </p>
                    </div>
                    <div class="text-box">
                        <p>
                            Découvrir mes oeuvres traditionelle
                        </p>
                    </div>
                </div>

                <div class="title-up-box">
                    <h2>ILLUSTRATION DIGITALE</h2>
                </div>

                <div class="photo-box-graphisme">
                    <div class="title-box">
                        <p> </p>
                    </div>
                    <div class="text-box">
                        <p>
                            Découvrir mes designs
                        </p>
                    </div>
                </div>

                <div class="title-up-box">
                    <h2>ME SUIVRE</h2>
                </div>

                <div class="instagram">
                    <div class="text-box-reseaux">
                        <p>
                            <i class="fa-brands fa-instagram"></i>
                            INSTAGRAM
                        </p>
                    </div>
                </div>

                <div class="tiktok">
                    <div class="text-box-reseaux">
                        <p>
                            <i class="fa-brands fa-instagram"></i>
                            TIKTOK
                        </p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
