{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <div class="privacy">
        <h1>Mentions Légales</h1>

        <p>
            Conformément aux dispositions des articles 6-III et 19 de la Loi pour la Confiance dans l'Économie Numérique (LCEN),
            nous informons les utilisateurs du site de l'identité des différents intervenants dans le cadre de sa réalisation
            et de son suivi.
        </p>

        <h2>1. Éditeur du site</h2>
        <p>
            <strong>Nom de l'entreprise :</strong> JojopokTV <br>
            <strong>Numéro SIRET :</strong> 97806101800013 <br>
            <strong>Directeur de publication :</strong> Jonathan Zaïa <br>
            <strong>Contact :</strong> jojopoktv@gmail.com <br>
        </p>

        <h2>2. Hébergeur du site</h2>
        <p>
            <strong>Nom de l'hébergeur :</strong> Solutions OneProvider <br>
            <strong>Adresse :</strong> Adresse: 3275 Av Francis-Hughes, Laval, QC H7L 5A5 Canada <br>
            <strong>Contact :</strong>  info@oneprovider.com <br>
        </p>

        <h2>3. Propriété intellectuelle</h2>
        <p>
            L’ensemble des éléments présents sur ce site, y compris les textes, images, logos et marques,
            sont protégés par les lois en vigueur sur la propriété intellectuelle. Toute reproduction, représentation,
            modification, publication ou adaptation de tout ou partie des éléments du site, quel que soit le moyen ou
            le procédé utilisé, est interdite, sauf autorisation écrite préalable de [Nom de l'entreprise].
        </p>

        <h2>4. Responsabilité</h2>
        <p>
            [Nom de l'entreprise] décline toute responsabilité pour les dommages directs ou indirects causés
            au matériel de l'utilisateur, lors de l'accès au site [Nom du site], et résultant soit de l'utilisation
            d'un matériel ne répondant pas aux spécifications indiquées, soit de l'apparition d'un bug ou d'une incompatibilité.
        </p>

        <h2>5. Contact</h2>
        <p>
            Pour toute question ou demande d'information concernant le site, vous pouvez nous contacter à l'adresse suivante :
            jojopoktv@gmail.com .
        </p>
    </div>
{% endblock %}
