:root {
    --color-one: #FFF;
    --color-two: #000;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --box-shadow-total: 1px 1px 8px #555;
    --size-h1: 4rem;
    --size-h2: 1.25rem;
    --size-p: 1rem;
    --size-little: 0.8rem;
    --font-text: "Raleway, Arial, sans-serif";
}
 * {
     margin: 0;
     padding: 0;
     font-family: 'Raleway', sans-serif;
     font-size: 0.9rem;
 }

 h1 {
     font-size: 3rem;
     font-weight: bold;
 }

body {
    margin-top: 8rem;
    background-color: var(--color-one);
    font-family: var(--font-text);
}