footer {
    margin-top: 2rem;
    background-color: var(--color-two);
    padding: 5rem 0.25rem;
    text-align: center;
    bottom:0;
}

.footer-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


.footer-content .copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-content .left,
.footer-content .right {
    flex: 1;
}

.footer-content p {
    color: white;
    margin: 0;
}

.center > a > p {
    font-size: 3rem;
    margin: 3rem;
}

.copyright {
    display: flex;
}

.footer-privacy-link, .footer-legal-link {
    color: white;
}

@media (max-width: 900px) {
    .center > a > p {
        font-size: 1.5rem;
    }
}