.navbar {
    background-color: var(--color-two);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.envelope-button > a > i {
    margin-right: 3rem;
    font-size: 2rem;
}

.burger-menu > i {
    color: var(--color-one);
    font-size: 2rem;
}

.envelope-button > i {
    color: var(--color-one);
}

.navbar a {
    font-size: 1.5rem;
    color: var(--color-one);
    padding: 0.5rem;
    text-decoration: none;
}

.navbar.active {
    height: auto;
}

.navbar-center {
    color: var(--color-one);
    flex-grow: 1;
    text-align: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: none;
    order: 3;
    width: 100%;
}


.navbar.active .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar.active .navbar-links a {
    width: 100%;
    box-sizing: border-box;/
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
}

a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: 0.4s width;
}

a:hover:after {
    width: 100%;
}

@media (max-width: 600px) {
    .navbar a {
        font-size: 2rem;
        padding: 1rem 0.5rem;
    }

    .navbar {
        padding: 1rem; /* Augmente la hauteur de la navbar */
    }
}