.commission-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commission-box > label {
    margin-top: 1rem;
}

.commission-box > input {
    width: 20rem;
    height: 2rem;
    border: 1px solid var(--color-two);
}

.commission-box > textarea {
    width: 20rem;
    height: 10rem;
    border: 1px solid var(--color-two);
}

.commission-box > select {
    width: 20rem;
    height: 3rem;
    border: 1px solid var(--color-two);
}

.commission-box > select option {
    font-size: 1.25rem;
}

.commission-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.btn-commission {
    width: 12rem;
    height: 3rem;
    margin: 1rem;
    font-weight: bold;
    color: var(--color-one);
    background-color: var(--color-two);
    font-size: 1.3rem;
}

.form-check {
    display: flex;
    align-items: center;
}

.privacy-link {
    color: black;
}

.commission-title p {
    text-align: center;
}


@media (max-width: 768px) {
    .commission-box > input,
    .commission-box > textarea,
    .commission-box > select {
        width: 70%;
        height: auto;
        font-size: 1.2rem;
    }

    .btn-commission {

        height: auto;
        font-size: 1.2rem;
    }

    .commission-box > label {
        font-size: 1.2rem;
    }
}