.container-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.container-img img {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .container-img {
    }

    .container-img img {
        width: 9rem;
        height: 9rem;
    }
}