<div class="footer-content">
    <div class="copyright">
        <div class="left">
            <p>@ 2024 - JOJOPOKTV</p>
        </div>
        <div class="right">
            <p>@_auren_</p>
        </div>
    </div>
    <div class="center">
        <a href="{{ path('app_contact_new') }}">
        <p>CONTACTEZ MOI</p>
        </a>
    </div>
</div>