<div class="footer-content">
    <div class="left">
        <p>@ 2024 - JOJOPOKTV</p>
    </div>
    <div class="center">
        <p>CONTACTEZ MOI</p>
    </div>
    <div class="right">
        <p>@_auren_</p>
    </div>
</div>