<div class="navbar">
    <div class="burger-menu" onclick="toggleNavbar()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="navbar-links" id="navbarLinks">
        <a href="{#{{ path('accueil') }}#}">Accueil</a>
        <a href="{#{{ path('graphisme') }}#}">Graphisme</a>
        <a href="{#{{ path('commission') }}#}">Commission</a>
        <a href="{#{{ path('contact') }}#}">Contact</a>
    </div>
    <div class="envelope-button">
        <button></button>
    </div>
</div>

<script>
function toggleNavbar() {
    const navbarLinks = document.getElementById("navbarLinks");
    if (navbarLinks.style.display === "block") {
        navbarLinks.style.display = "none";
    } else {
        navbarLinks.style.display = "block";
    }
}
</script>