{% extends 'base.html.twig' %}

{% block title %}Passer une commission{% endblock %}

{% block body %}
    <div class="commission-title">
        <h1>COMMISSION</h1>
        <p>Merci de remplir ce formulaire avec le plus de détaile possible.<br> Plus vous donnez de détails, plus il sera facile pour moi de répondre rapidement et précisément à votre demande.</p>
    </div>

    {{ include('order/_form.html.twig') }}

{% endblock %}
