{% extends 'base.html.twig' %}

{% block title %}Passer une commission{% endblock %}

{% block body %}
    <div class="commission-title">
    <h1>COMMISSION</h1>
    </div>

    {{ include('order/_form.html.twig') }}

{% endblock %}
